<h2>Account management</h2>

<h3>Cancel my account</h3>

<p><%= link_to "Cancel", root_path(), class: "btn btn-default" %> 
	<%= link_to("Delete my account", delete_user_registration_path, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger") %>
</p>
