<h1>Visible Groups</h1>

<div class="field">
<label for="search">Search : </label>
<input type="text" name="searchField" value="Nom de groupe" id=""/>
<input type="button" name="searchButton" value="Search">
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Subscribe</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.description %></td>
        <td>+</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @posts %>

<br>
