This is the public home page
<div id="calendar">
</div>



<script>
	$(document).ready(function() { 
		var calendarWrapper = new zCalendarWrapper({
			container: '#calendar',
			api: {
				get: "<%= events_path %>.json"
			}
		});
	}) ;
</script>