<% if !user_signed_in? then %>
<div class="jumbotron">
	<h1>Welcome to xTable</h1>
	<p>
		This app aims at making your life easier! It's a smart calendar that helps you to manage and optimize your time. You can publish and subscribe to group events. xTable handles conflicts in your calendar, that means it warns you if you planned to go to many events at the same time!
	</p>
	<p>
		<%= link_to  "It's time to get in!", new_user_session_path(), class: "btn btn-primary btn-lg"%>
	</p>
</div>
<% else %>
<div id="calendar"></div>

<script>
	$(document).ready(function() { 
		var calendarWrapper = new zCalendarWrapper({
			container: '#calendar',
			api: {
				get: "<%= events_path %>.json"
			}
		});
	}) ;
</script>
<% end %>
