<div class="jumbotron">
	<h1>Start using xTable</h1>
	<p>
		There's no need to create an additional account, just use one of your existing accounts...
	</p>
	<p>
		<%= link_to(icon('facebook', 'Facebook'), user_omniauth_authorize_path(provider: :facebook), :class => "btn btn-lg btn-primary") %>
		<%= link_to(icon('github', 'Github'), user_omniauth_authorize_path(provider: :github), :class => "btn btn-lg btn-default") %>
		<%= link_to(icon('google-plus', 'Google+'), user_omniauth_authorize_path(provider: :google_oauth2), :class => "btn btn-lg btn-danger") %>
	</p>
</div>

